<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.svg" alt="Zenakhe Digital Solutions">
                    </a>
                    <p>Empowering South African businesses through data-driven insights, intelligent software, and digital innovation.</p>
                    <ul class="social-link">
                        <li><a href="https://www.youtube.com/@ZenakheDigital" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                        <li><a href="https://www.linkedin.com/company/zenakhe-digital-solutions" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Navigate</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about-us">About Us</a></li>
                        <li><a routerLink="/services">Services</a></li>
                        <li><a routerLink="/team">Our Team</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/services">Data Analytics</a></li>
                        <li><a routerLink="/services">AI & ML Development</a></li>
                        <li><a routerLink="/services">Web Development</a></li>
                        <li><a routerLink="/services">Mobile Development</a></li>
                        <li><a routerLink="/services">Predictive Analytics</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>132 Apollo St, Table View, Cape Town, South Africa</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+27664008274">+27 66 400 8274</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info&#64;zendata-avenue.co.za">info&#64;zendata-avenue.co.za</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>&copy; {{ currentYear }} <strong>Zenakhe Digital Solutions</strong>. All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/contact">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="assets/img/footer-map.svg" alt="Africa map"></div>
</footer>

<div class="go-top"><i class="flaticon-up"></i></div>
